<!-- Core JavaScript Files -->
script(src="../js/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
script(src="../js/jquery.easing.min.js")
script(src="../js/classie.js")
script(src="../js/gnmenu.js")
script(src="../js/jquery.scrollTo.js")
script(src="../js/nivo-lightbox.min.js")
script(src="../js/stellar.js")
<!-- Custom Theme JavaScript -->
script(src="../js/custom.js")