header#first
    div.header-content
        div.inner
            h1.cursive Simple Portfolio Page Design
            h4 A portfolio page theme with video background
            hr
            a(href="#one", class="btn btn-primary btn-xl page-scroll") Get Started
         
    
        
