doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content= records.site.sitedata[0].metadesc)
    meta(name='author', content= records.site.sitedata[0].metauthor)
    meta(name="keywords" content= records.site.sitedata[0].metakeyword)
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= records.site.sitedata[0].sitename

    link(rel="stylesheet", href="/css/bootstrap.min.css" type="text/css")
    link(rel="icon", href= records.site.sitedata[0].logo, type="image/*")
    link(rel="shortcut icon", href= records.site.sitedata[0].icon, type="img/*")

    != css('/')

    link(href="/css/bootstrap.min.css", rel="stylesheet", type="text/css")

    <!-- Fonts -->
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href="/css/animate.css", rel="stylesheet")
    <link href="/css/animations.css" rel="stylesheet">
    <!-- Squad theme CSS -->
    link(href="/css/style.css", rel="stylesheet")

