include layouts/header-top

body.main-page(data-spy="scroll")

    include layouts/header-menu

    include layouts/header-bottom-main
    
    block content

    include layouts/footer
        != js()
