doctype html
head
  title Thank You Page
  // Compiled and minified CSS
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css')
  // Compiled and minified JavaScript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
br
br
p(style='text-align: center;')
  img(src='https://cdn.jotfor.ms/img/check-icon.png', alt='', width='128', height='128')
div(style='text-align: center;')
  h1(style='text-align: center;') Thank You!
  p(style='text-align: center;') Your submission has been received.
  br
  a.waves-effect.waves-light.btn-large.blue(href='/') Back to Home

