/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/**Menu Icons**/


	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(1) a::before {
	  content: "\f24d" !important;}

	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(2) a::before {
	  content: "\f013"; }

	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(3) a::before  {
	  content: "\f247"; }

	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(4) a::before  {
	  content: "\f24d"; }
	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(5) a::before  {
	  content: "\f1ea"; }

	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(6) a::before  {
	  content: "\f044"; }

	#left_col-2 ul.cms.cms-nav-menu li:nth-of-type(7) a::before  {
	  content: "\f0c0"; }

	/**Menu Icons End Here**/

	#main-wrapper .container {
    display:block;
	}
  body.ember-application .cms-list-entry,
  body.ember-application .cms-preview-pane {
    background: #fff;
  }

  .team-social {
  margin-left: 0;
  padding-left: 0;

}

.team-social {
  text-align: center;
}

.team-social li{
    display: inline-block;
  margin:0 !important;
  padding:0;
}


.team-social a{
  margin:0;
  padding:0;
    display: block;
  width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
  color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}